# Aleinia Platform Configuration
PORT=3000

# MongoDB Connection String
# Use localhost for dev, Atlas URI for production
MONGO_URI=mongodb://127.0.0.1:27017/aleinia_dev

# Environment
NODE_ENV=development
